# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python
__pycache__/
*.py[cod]
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# PyTorch Models
*.pt
*.pth
*.ckpt

# Datasets and Cache
data/
datasets/
.cache/

# Audiofiles
.wav