--extra-index-url https://download.pytorch.org/whl/cu128

ipython
librosa
matplotlib==3.10.8
numpy==2.4.2
onnxruntime
scikit-learn==1.8.0
seaborn==0.13.2
soundfile==0.13.1
torch==2.10.0+cu128
torchaudio==2.10.0+cu128